@font-face {
  font-family: "Optima";
  src: local("TildaSans-VF"), local("Optima-Pro-Roman"),
    url("TildaSans-VF.ttf") format("ttf"),
    url("TildaSans-VF.woff") format("woff"),
    url("TildaSans-VF.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
